body {
  font-family: sans-serif;
  margin: auto;
  padding-left: 20px;
}

.convert {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 27px 32px;
  width:250px;
  height:68px;
}

.swap {
  background-color: #92d495; /* Greenish */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:100px;
  height:68px;
}

i {
    font-size: 20px;
}

textarea {
	width: 40%;
	height: 150px;
}

#output {
	background-color: lightgray;
}